<div class="st-other">
	<div class="mb-2">
		<i class="fa fa-trash-o fa-4x align-middle" aria-hidden="true"></i>
		<h6 class="info-title">Прочее</h6>
	</div>
	<div class="section">
		<div class="row">
			<div class="col-2">Доступ:</div>
			<div class="col-10">{{data.access}}</div>
		</div>
		<div class="row">
			<div class="col-2">Цены:</div>
			<div class="col-10">{{data.price}}</div>
		</div>
		<div class="row">
			<div class="col-2">Сезонность:</div>
			<div class="col-10">{{data.seasonality}}</div>
		</div>
		<div class="row">
			<div class="col">{{data.text}}</div>
		</div>
	</div>
</div>
