<nav class="main-navbar">
	<div class="container">
		<div class="logo">
			<div class="logo-title">Вакол</div>
			<div class="logo-sub-title">Стежкамi роднай краiны</div>
		</div>
		<div class="menu">
			<div class="menu-item">Места
				<div class="sub-items">
					<div class="sub-item">First</div>
					<div class="sub-item">Second</div>
				</div>
			</div>
			<div class="menu-item">Маршруты
				<div class="sub-items">
					<div class="sub-item">First</div>
					<div class="sub-item">Second</div>
				</div>
			</div>
			<div class="menu-item">О нас
				<div class="sub-items">
					<div class="sub-item">First</div>
					<div class="sub-item">Second</div>
				</div>
			</div>
		</div>
	</div>
</nav>
